<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceLabs Suite">
<listeners>
    <listener class-name="CustomListeners.TestNGListeners"></listener>
</listeners>
    <test name="Scroll Tests">
        <classes>
            <class name="tests.ScrollTest"/>
        </classes>
    </test>
</suite>
